@using Cencinai.Logic.Models; 
@model UsuarioModel

@{
    ViewData["Title"] = "Eliminar Usuario";
}

@Html.HiddenFor(model => model.Id)

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" onclick="displayBusyIndicator()">Menú</a></li>
    <li class="breadcrumb-item"><a asp-controller="Usuario" asp-action="ListarUsuarios" onclick="displayBusyIndicator()">Usuarios</a></li>
    <li class="breadcrumb-item active">Eliminar Usuario</li>
</ol>
<h4>Eliminar Usuario</h4>
<hr />

<h5>¿Está seguro que quiere eliminar el usuario?</h5>
<br />
<div class="container">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>
    </dl>
    <br />
    <form asp-action="BorrarUsuario">
        <div class="row">
            <div class="col-1">
                <a asp-action="ListarUsuarios" class="btn btn-info" onclick="displayBusyIndicator()">No</a>
            </div>
            <div class="col-1">
                <input type="submit" value="Sí" class="btn btn-danger" onclick="displayBusyIndicator()" />
            </div>
        </div>
    </form>
</div>
