@using Cencinai.Logic.Models;
@model ResponsableModel

@{
    ViewData["Title"] = "Detalle Responsable";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" onclick="displayBusyIndicator()">Menú</a></li>
    <li class="breadcrumb-item"><a asp-controller="Responsable" asp-action="ListarResponsables" onclick="displayBusyIndicator()">Responsables</a></li>
    <li class="breadcrumb-item active">Detalle Responsable</li>
</ol>
<h4>Detalle Responsable</h4>
<hr />


<div class="container">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrimerApellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrimerApellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SegundoApellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SegundoApellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoAdicional)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelefonoAdicional)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion.Provincia.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion.Provincia.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion.Canton.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion.Canton.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion.Distrito.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion.Distrito.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion.DireccionExacta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion.DireccionExacta)
        </dd>
    </dl>
</div>
<br />
<div class="row">
    <div class="col-1">
        <a asp-action="EditarResponsable" asp-route-id="@(Model.Id)" class="btn btn-info" onclick="displayBusyIndicator()">Modificar</a>
    </div>
    <div class="col-1"></div>
    <div class="col-1">
        <a asp-action="ListarResponsables" class="btn btn-light" onclick="displayBusyIndicator()">Cerrar</a>
    </div>
</div>
